:root {
    --dark-bg: #121212; /* Very dark background */
    --text-color: #ffffff; /* White text */
    --label-bg: #444444; /* Darker background for the 'A', 'B', etc. labels */
    --border-color: #ffffff; /* White border for buttons */
    --padding-unit: 20px;
}

body{
    font-family: 'Helvetica';
}

.container{
    border: 1px solid black;
    width: 50%;
    margin: 50px auto;
    padding: var(--padding-unit)
}

.question-block{
    border: 1px solid black;
    padding: var(--padding-unit);
    margin: 5px;
}

.option-button{
    padding: 10px;
    border: 1px solid black;
    background: var(--dark-bg);
    color: white;
    width: 20%;
    cursor: pointer;
    border-radius: 5px;
}

.option-button:hover{
    background:var(--text-color);
    color: var(--dark-bg);
}

.label{
    border: 1px solid var(--border-color);
    padding: 3px;
    font-size: 10px;
    border-radius: 4px;
}

.input-message{
    padding: 10px;
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.input-message:focus{
    border-color: blue;
}


.create-btn{
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 15px;
    width: 50%;
    border: 1px solid black;
    background: var(--dark-bg);
    color: var(--text-color);
    cursor: pointer;
}

.create-btn:hover{
    background: var(--text-color);
    color: var(--dark-bg);
}
 



