:root{
    --background: black;
    --btnbackground: rgb(226, 69, 161);
    --lightdark: rgb(236, 236, 236);
    --white: #fff;
}

body{
    box-sizing: border-box;
    font-family: "Helvetica";

}

.container{
    margin:30px auto;
    border: 1px solid black;
    width:40%;
    padding: 10px;
    text-align: center;
}

form{
    width: 70%;
    margin: 0 auto;
}
label{
    display: block;
    margin-top: 10px;
}

input[type="number"]{
    padding: 10px;
    width: 80%;
    outline: none;
    border: none;
    background: var(--lightdark);
    text-align: center;
}

.btn{
    padding: 10px;
    margin-top: 20px;
    width: 85%;
    border: none;
    background: var(--btnbackground);
    color: var(--white);
    cursor: pointer;
}

.btn:hover{
    background:rgb(245, 130, 197)
}