:root{
    --background: black;
    --yellowcolor: yellow;
    --whitecolor: white;
    --yellowgradient: linear-gradient(yellow, rgb(157, 155, 11));
}

body{
    background: var(--whitecolor);
    box-sizing: border-box;
    font-family: "Helvetica";
    font-size: 15px;
 
}

.container{
    border: 1px solid black;
    width: 25%;
    margin: 60px auto;
    padding: 20px;
    border-radius: 5px;
}

h1{
    text-align: center;
}

.namegenerator{
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}

.namegenerator:hover{
    background: gray;
    color: white;
}

.container-info{
    width: 100%;
}

input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
}