body{
    box-sizing: border-box;
    font-family: "Helvetica";
}

.container{
    border: 1px solid black;
    margin: 80px auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


#dice{
    width: 150px;
    display: block;
    margin: 10px;
}

#btn{
    border: none;
    padding: 10px;
    margin: 10px;
    width: 50%;
    background: rgb(176, 23, 23);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover{
    background: red;
    transform: translateY(-3px);
}