:root{
    --bluecolor : rgb(3, 131, 236);
}

body{
    background-image: linear-gradient(var(--bluecolor), rgb(0, 68, 255));
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    
}

.container{
    /* border: 1px solid black; */
    background: white;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.heading{
    font-family: "Helvetica";
    text-align: center;
}

input[type="text"]{
    display: block;
    padding: 10px;
    width: 80%;
    text-align: center;
    outline: none;
    margin: 0 auto;
}

.button{
    display: block;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 87%;
    cursor: pointer;
    background: var(--bluecolor);
    border: none;
    color: white;
    border-radius: 3px;
    font-family: "Helvetica";
    font-size: 15px;
}

.button:hover{
    box-shadow: 0px 0px 5px 5px rgba(2, 125, 248, 0.338);
    transform: translateY(-5px);
    background: blue;
}

.resultContainer{
    border: 1px dotted var(--bluecolor);
    padding: 10px;
    margin: 10px;
    font-family: "Helvetica";
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}
 