:root{
    --blue: rgb(6, 95, 249);
    --darkblue: rgb(2, 55, 146);
    --grey: rgb(233, 233, 233);
    --white: #fff;
}

body{
    font-family: "Helvetica";
}

.container{
    border: 1px solid black;
    margin: 60px auto;
    width: 30%;
    padding: 30px;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="number"]{
    width: 94%;
    padding: 10px;
}


.btn{
    border: none;
    padding: 10px;
    width: 100%;
    display: block;
    margin-top: 10px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--darkblue);
    color: white;
}

.show-result{
    background: var(--grey);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.show-result h1,.hide-result h1{
    color: var(--blue);
}

.hide-result{
    /* display: none; */
}