:root{
    --background: gray;
    --black: #000;
    --white: #fff;
}

body{
    background: var(--background);
    font-family: 'Helvetica';
}

.container{
    background: var(--white);
    padding: 20px;
    width: 20%;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,5,0.1);
}

h1{
    text-align: center;
}

input[type="number"]{
    padding: 10px;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.result{
    border: 1px solid black;
    padding: 20px;
}

.btn{
    border: none;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background: var(--background);
    color: var(--white);
}